<div class="card">
    <div class="card-header">
        Details of <b>{{ userDetail.name }}</b>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>User Id</th>
                    <td>{{ userDetail.id }}</td>
                </tr>
                <tr>
                    <th>User Name</th>
                    <td>{{ userDetail.name }}</td>
                </tr>
                <tr>
                    <th>User Email</th>
                    <td>{{ userDetail.email }}</td>
                </tr>
                <tr>
                    <th>User Phone</th>
                    <td>{{ userDetail.phone }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        Footer Here
    </div>
</div>