<form>
    <div class="mb-3">
        <input type="text" name="name" placeholder="User Name" class="form-control" [(ngModel)]="user.name">
    </div>
    <div class="mb-3">
        <input type="text" name="email" placeholder="User Email" class="form-control" [(ngModel)]="user.email">
    </div>
    <div class="mb-3">
        <input type="text" name="phone" placeholder="User Phone Number" class="form-control" [(ngModel)]="user.phone">
    </div>
    <div>
        <input type="submit" value="Add User" class="btn btn-success" (click)="addUser()" /> |
        <input type="reset" value="Clear Fields" class="btn btn-danger" /> |
        <a class="btn btn-secondary" routerLink='/users'>Back</a>
    </div>
</form>